/* @override 
	http://robin.local:8888/our_emotional_health_tables.css
	http://robin.dev:8888/our_emotional_health_tables.css
*/


.seminarsPrevious .nav-seminarsPrevious {
	font-size: 20px;
	color: #000;
}



BODY {
	padding: 0px;
	margin:0px;	
	FONT: 12px arial, helvetica, sans-serif; 
	COLOR: #000; 
	BACKGROUND-COLOR: white;
	background-image: url(images/BGbeach.jpg);
	background-position: left;
	background-repeat: repeat-y;
}
H1 {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 22px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px 0px 15px; 
	COLOR: #000000; 
	PADDING-TOP: 0px;
}
H2 {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 2px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px;
	MARGIN: 0px 0px 5px; 
	FONT: bold 17px verdana, arial, helvetica, sans-serif; 
}
H3 {
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	/*PADDING-BOTTOM: -3px; */
	PADDING-TOP: 0px;
	/*MARGIN: 0px 0px -6px; */
	FONT: bold 16px verdana, arial, helvetica, sans-serif; 
	color:#996600;
}
H4 {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: -4px; 
	MARGIN-BOTTOM:-6px;
	COLOR: #000000; 
	PADDING-TOP: 0px;
	FONT: bold 14px/16px verdana, arial, helvetica, sans-serif; 	
}
P {
	PADDING-LEFT: 10px; 
	PADDING-RIGHT: 10px; 
	FONT: 12px arial, helvetica, sans-serif; 
}
hr	{
	width: 90%;
	}
a {
	font-weight: bold;
	color: #003399;
	text-decoration: none;
	/*font-size: 12px;*/
}

a:hover {
	color: #3366cc;
}

a:visited {
	color: maroon;
}
.orient {
	color: #000000;
}
.orientCategory {
	color: #000000;
	font-weight:bold;
	text-decoration: underline;

}
img {
	border: none;
	margin-left: 0px;
	margin-right: 5px;
	padding-left: 0px;
	padding-right: 3px;
}

.quote {
	font-style: italic;
	font-size: 10px;
}
.quoteSource {
	font-size: 10px;
}

ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	PADDING-top: 0px; 
	MARGIN-top:2px;
	padding-bottom: 0px; 
	margin-bottom:0px;	}
.infoBox {
	padding:10px;
	margin: 3px;
	border: 1px solid #cc9933;
	color: #000000;
}

.infoBox p {
	padding-left:0;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}


#announcement {
	background-color: #003298;
	overflow: auto;
	margin-bottom: 20px;
	margin-right: 20px;
}

#announcement-inner {
	margin: 20px;
}

#announcement h2 {
	text-transform: uppercase;
}

#announcement a:hover {
	text-decoration: underline;
}

#announcement h2, #announcement p, #announcement a {
	color: #fff;
	line-height: 1.5;
}


.notice {
	background-color: #0a3899;
	padding: 20px;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
}

.notice a {
	color: #99b6f8;
	text-decoration: underline;
}

.notice a:hover {
	text-decoration: none;
}

ul {
	list-style-position: inside;
	padding: 0;
}

li {
	/*text-indent: -1em;*/
	/*position: relative;
	left: 1em;*/
}

.linkspage li {
	margin-bottom: 1em;
}

.linkspage ul {
	list-style-position: outside;
}

.alert {
	padding: 1em;
	background-color: #8FAFFA;
	margin-bottom: 20px;
}

.alert li {
	margin-bottom:1em;
	font-size:14px;
}

.infoBox h3 {
	padding: 0px;
	margin: 0 6px;
}

.infoBox p {
	padding: 0px;
	margin: 6px;
}
.infoBox h4 {
	margin-bottom: 0.5em;
}


/* ian's rad styles */
.opacity .alert-outer {
	opacity: 0.01;
}

.alert h3 {
	font-family: helvetica, arial, sans-serif;
	text-shadow: 1px 1px 6px black;
	font-size: 30px;
	color:#fff;
}

.alert-outer {
	border-radius: 15px;
/* 	background: -webkit-linear-gradient(#1010f5 0%, #ffffff 100%); */
	overflow: auto;
	margin-bottom: 20px;
	background-color: #95b3f9;
}

.opacity .alert-outer {
	background-color: rgba(142,175,250,0.5);
}

.alert-outer h3 {
	font-family: helvetica, arial, sans-serif;
	font-size: 30px;
	color:#fff;
	text-align: center;
}

.textshadow .fancy-text {
	text-shadow: 1px 1px 6px black;
}

.alert-left {
	clear: both;
	float: left;
	width: 50%;
}

.alert-right {
	margin-top:20px;
	margin-bottom: 20px;
	float: left;
	width: 50%;
}

.alert-right p {
	margin-top: 0;
}


div.alert-outer h3 {
	text-align: center;
	margin-top: 0;
}
.alert-outer {
	padding: 2em;
}
.alert-outer h2 {
	text-align: center;
}
